@using Entities.Concrete
@model List<Announcement>
@{
    ViewData["Title"] = "AdminAnnouncementGetAll";
    Layout = "~/Views/Shared/AdminPageLayout.cshtml";
}

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5>Duyurular</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-hover text-center dataTables-example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fotoğraf</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Tarih</th>
                        <th><a href="/Announcement/AdminAnnouncementAdd" role="button" class="btn btn-outline-primary">Ekle</a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><b>@item.Id</b></td>
                            <td><a href="~/images/@item.ImagePath"><img src="~/images/@item.ImagePath" width="100" height="100" /></a></td>
                            <td>@item.AnnounceTitle</td>
                            <td>@item.AnnounceContent.Substring(0, 20)</td>
                            <td>@item.AnnounceDate.ToString().Substring(0, 18)</td>
                            <td><a href="/Announcement/AdminAnnouncementDelete/@item.Id" role="button" class="btn btn-outline-danger">Sil</a> <a href="/Announcement/AdminAnnouncementUpdate/@item.Id" role="button" class="btn btn-outline-warning">Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


